body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

code:not(#code) {
  background-color: #f7f7f7;
  color:#304030;
  padding: 3px;
  font-family: monospace;
}

code#code code {
  padding: 0 !important;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 580px) {
  .container-fluid {
    padding-left: 45px;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar h6 {
  color: #222 !important;
}

.sidebar .nav-link.nav-sub-link {
  color: #555 !important;
  margin-top: 3px;
  padding-bottom: 2px;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #666;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:not(.nav-sub-link):hover {
  color: #2470dc;
  background-color: #efefef;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}



/** NAVIGATION */

.nav-link {
  padding: .3rem 1rem .3rem 1rem;
}
.nav-link small {
  font-weight: normal;
}
.nav-sub-link {
  font-size: 13px;
}

ui.list li {
  margin-left: 10px;
  margin-bottom: 2px;
}

/* Add styles to hide the sidebar when 'collapsed' class is added */
#sidebarMenu.collapsed {
  width: 30px !important;
}
#main.expanded {
  width: calc(100% - 30px) !important;
}
#navbar.nonvisible{
  visibility: hidden;
}

/* Side panel */
#btn-panel-close {
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

#sidebarMenu.collapsed #btn-panel-close {
  margin-right: 6px;
}

#btn-panel-close i {
  color: #999
}

.rotate-180 {
  transform: rotate(180deg);
}

/***********************
 * CODE
 ***********************/
code pre {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius:.2rem;
  border: 1px solid #f2f3f4;
}
code.gray {
  color: #000000 !important;
}
.code-result pre {
  background-color: rgb(40, 42, 54);
  color: rgb(248, 248, 242);
  border-radius:.2rem;
  border: 0;
}
.code-dataset pre {
  color: rgb(0,0,0);
  border-radius:.2rem;
}
.bd-clipboard {
  position: absolute;
  right: 20px
}
.btn-clipboard {
  position: absolute;
  top: .65rem;
  right: 0.95rem;
  z-index: 10;
  display: block;
  padding: .25rem .5rem;
  font-size: .65em;
  color: #0d6efd;
  background-color: #fff;
  border: 1px solid;
  border-radius: .25rem;
}
.btn-clipboard:hover, .btn-clipboard:focus {
  color: #fff;
  background-color: #0d6efd;
}

/***********************
 * DATASEWT and DATA TEST
 ***********************/
#collapseDataset .card-body, #collapseTestData .card-body {
  padding: 0px;
  margin: 0;
  border: 0;
}
#collapseDataset .card-body pre, #collapseTestData .card-body pre {
  margin-bottom: 0;
}

#toggleExampleOfUse, #toggleDataset, #toggleTestData {
  /*color: #444;*/
  font-size: 14px;
  text-decoration-line: none;
}
#toggleExampleOfUse i, #toggleDataset i, #toggleTestData i {
  position: absolute;
  margin-left: 5px;
  margin-top: 4px;
}

/***********************
 * DEBUG
 ***********************/
.debug {
  border: 1px dotted #990000;
}

.debug > div {
  border: 1px dotted #009900;
}

.debug > div > div {
  border: 1px dotted #000099;
}

/***********************
 * PlotlyJS
 ***********************/
.modebar-container {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

/***********************
 * MermaidJS
 ***********************/
.controls {
  margin: 20px 0;
  text-align: center;
}
.btn-graph {
  padding: 4px 10px;
  margin: 0 5px;
  background: #fff;
  color: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: 4px;
  cursor: pointer;
}
.btn-graph:hover {
  background: #0d6efd;
  color: #fff;
  border: 1px solid #0d6efd;
}
.btn-graph:disabled {
  background: #ccc;
  color:#fff;
  border: 1px solid #ccc;
  cursor: not-allowed;
}
.step-info {
  margin: 10px 0 10px -10px;
  padding: 10px;
  background: #ff;
  border-radius: 4px;
}
.mermaid .edgeLabel {
  background-color: rgba(255, 255, 255, 0.85) !important;
  border-radius: 20px;
  min-width: 17px;
  height: 23px;
  display: block;
  fill: #fff;
}
.mermaid .edgeLabel {
  fill: #677 !important;
  color: #677 !important;
}
.mermaid small.sub-title {
  margin-top: -5px;
  display: block;
  font-size: 11px;
}
